
form {
    width: 60vw;
    margin: 0 auto;
    background-color: #202020;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.name-num {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: none;
    background-color: #303030;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #303030;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    color: #101010;
    background-color: white;
    text-transform: uppercase;
    font-family: 'bebas neue';
    border: none;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
}

input[type="submit"]:hover {
    color: white;
    background-color: #101010;
}