body {
    background: black;
}
main {
    background-color: black;
}
.contactTitle {
    font-size: 70px;
    padding-top: 100px;
    color:white;
}

#contact {
    display: flex ;
    background-image: url(../img/slash.jpg);
    background-repeat: no-repeat; 
    background-position: left; 
    background-color: black;
}

form {
    width: 50%;
    margin: 0 auto; 
    margin-top: 200px;
    margin-bottom: 200px; 
    background-color: #404040aa;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.name-num {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: none;
    background-color: #D3D3D3;
    color: black;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #D3D3D3;
    color: black;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea::placeholder {
    font-weight: 700;
    color: black;
}

.comment {
    min-height: 300px;
    max-height: 600px;
}

.comment::placeholder {
    color: black;
}

input[type="submit"] {
    padding: 10px 20px;
    color: #101010;
    background-color: white;
    text-transform: uppercase;
    font-family: 'bebas neue';
    border: none;
    cursor: pointer;
    transition: background-color 300ms, color 300ms;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
input::placeholder {
    font-weight: 700;
    color:black;
}
input[type="submit"]:hover {
    color: white;
    background-color: #101010;
    border: 1px solid red;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
}

