/*FAQ*/
#FAQ {
    height: 1000px;
}
.questions-box {
    background-color: #747474;
    padding: 20px;
}
details {
    padding: 20px;
    color: white;
    margin: 10px;
    background-color: #202020;
}
summary {
    font-family: 'Bebas Neue';
    text-transform: uppercase;
}