* {
    font-family: 'Roboto';
    scroll-behavior: smooth;
   height: 100%,
}

body {
    background-color: #101010;
}
h1, h2, h3, h4 {
    color: white;
    text-transform: uppercase;
    font-family: "bebas neue";
    text-align: center;
    font-size: 2rem;
}
p {
    color: white;
}
/*HEADER*/
header {
    z-index: 9999;
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: #202020;
    position: fixed;
    top: 0;
    left: 0;
    transition: height 300ms, background-color 300ms;
}
.container {
    margin: 0 auto;
    width: 60vw;
    height: 100%;
}
.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 100px;
    height: 70px;
    transition: width 300ms, height 300ms;
}
nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: #20202000 3px solid;
    transition: border-bottom 300ms;
}
a:hover {
    border-bottom: #780000 3px solid;
}
/*banner*/
#banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
/*description*/
#description {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 400px;
}
.description-box {
    background-color: #101010aa;
    padding: 20px;
}
.description-box p {
    margin: 0 auto;
    width: 50%;
    text-align: justify;
}
/*streamers*/
#streamers {
    width: 100%;
    height: 600px;
    padding-bottom: 300px;
}
.streamer {
    transition: transform 0.3s ease;
}
.streamer:hover {
    transform: scale(1.03);
}
#streamers__box {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
.streamer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.streamer img {
    width: 100%;
}
.streamer p {
    text-transform: uppercase;
    text-align: center;
}
/*avantages*/
#avantages {
    width: 100%;
    height: 50vh;
    background-color: #101010;
}
#avantages > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
#img-avantages {
    width: 600px;
    height: 100%;
}
#avantages > div > div {
    width: 30%;
    background-color: #202020;
    padding: 20px;
}
#avantages p {
    width: 100%;
    text-align: justify;
}
/*footer*/
footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#box-names {
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.name {
    font-size: 1.5rem;
    font-family: "bebas neue";
}
#logo-3WA {
    width: 100px;
    height: 100px;
}
#socials-clonehero-box {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.socials-clonehero {
    width: 75px;
    height: 75px;
}

